body{
    background-color: rgb(191, 209, 250);
    gap:10px 20px;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
body::-webkit-scrollbar {
    display: none;
}
*{
    font-family: "JetBrains Mono", Times, serif;
}
header{
    margin-bottom:20px;
}
li a{
    text-decoration: none;
    list-style: none;
    padding:10px;
    background-color: rgb(166, 190, 255);
    border-radius: 10px;
    max-width:fit-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a:hover{
    transition: 0.3s ease;
    background-color: #6394f5;
    text-decoration: underline;
}
.links{
    padding:0 5px;
    flex-direction: row;
    gap: 20px;
    text-align: center;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
.navbar{
    border-radius:20px;
    background-color: rgb(230, 236, 252);
    padding:5px 10px;
    margin: auto;
    max-width:800px;
    gap: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
section{
    padding:20px;
    border-radius:20px;
    background-color: rgb(230, 236, 252);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    gap: 5px;
    flex-direction: column;
    margin: 30px auto;
    max-width: 800px;
}
h1{
    padding:5px;
    font-size: 2rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000;
}
p{
    font-size: 1.6rem;
    text-align: center;
    color: #c5c5c5;
}

.title{;
    padding:20px;
    margin:auto;
    background-color: #819dcc;
    text-align: center;
    border-radius:15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 400px;
}
.container{
    border-radius:20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding:10px;
    background-color: #9eb0d7;
    margin-top:20px;
}
.container p{
    color: white;
}
hr{
    max-width: 600px;
    margin-top:15px;
    border: 1px solid;
    border-radius: 10px;
    color: #c7c7c7;
}
.sidebar{
    margin: 150px 100px;
    padding: 5px 10px;
    height:fit-content;
    width: fit-content;
    position:fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: #bbcae7;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar ul{
    list-style-type: none;
    padding: 5px;
}
.navigation{
    border-radius: 10px;
    background-color: #93aee3;
    font-size:1.3rem;
    color: white;
    text-shadow: 2px 2px 4px #000;
    padding: 5px 5px;
}